{% extends 'secret/layout.html' %}
{% block content %}
        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="../">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Users</li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Data Table
            </div>
            <div class="card-body">
                <form class="form-inline mb-3">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" 
                    placeholder="Search" aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <button class="btn btn-primary ml-auto">
                        <a href="/secret/users/addUsers" class="text-white">Add</a>
                    </button>
                </form>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S No.</th>
                      <th>First_name</th>
                      <th>Last_name</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Role</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                    <tbody>
                    <!-- {{user_obj}} -->
                    {% for user in user_obj %}
                        <tr id={{user.id}}>
                            <td> {{ forloop.counter }} </td>
                            <td>{{ user.user__first_name }}</td>
                            <td>{{ user.user__last_name }}</td>
                            <td>{{ user.user__username }}</td>
                            <td>{{ user.user__email }}</td>

                            <td>{{ user.phone_number }}</td>
                            <td>{{ user.role }}</td>
                            <td>
                                <a href="/secret/users/addUsers/"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                                <a href="/secret/users/delete/{{ user.user__id }}">Delete</a>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}
